<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Blog</h1>
        <nav>
            <a href="{% url 'lista_posts' %}">Lista de Posts</a>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- s -->
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 Blog</p>
    </footer>
</body>
</html>
