{% extends 'blog/base.html' %}

{% block title %}{{ post.titulo }}{% endblock %}

{% block content %}
<div class="container text-center mt-4">
    <!-- Título do Post -->
    <h1 class="mb-4">{{ post.titulo }}</h1>
    
    <!-- Autor e Data -->
    <p class="text-muted">
        <em>Por <strong>{{ post.autor }}</strong> em {{ post.data_criacao|date:"d/m/Y H:i" }}</em>
    </p>

    <!-- Conteúdo do Post -->
    <div class="card mx-auto mb-5" style="max-width: 800px; border: 1px solid #242424;">
        <div class="card-body">
            <p class="card-text">{{ post.conteudo }}</p>
        </div>
    </div>

    <!-- Seção de Comentários -->
    <div class="comments-section mt-5">
        <h3 class="mb-4">Comentários</h3>
        
        <div class="card mx-auto" style="max-width: 800px; border: 1px solid #242424;">
            <div class="card-body">
                {% if comentarios %}
                    <ul class="list-group list-group-flush">
                        {% for comentario in comentarios %}
                            <li class="list-group-item" style="margin-bottom: 10px;">
                                <p>
                                    <strong>{{ comentario.autor }}</strong> 
                                    <span class="text-muted">em {{ comentario.data_criacao|date:"d/m/Y H:i" }}</span>
                                </p>
                                <p>{{ comentario.conteudo }}</p>
                                {% if user == comentario.autor or user == post.autor %}
                                <a href="{% url 'remover_comentario' pk_post=post.pk pk_comentario=comentario.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted">Sem comentários ainda.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Formulário para Adicionar Comentário -->
    {% if user.is_authenticated %}
        <div class="add-comment-section mt-5">
            <h4>Deixe um comentário</h4>
            <form action="{% url 'adicionar_comentario' post.pk %}" method="post" class="mt-3">
                {% csrf_token %}
                <div class="mb-3">
                    <textarea name="conteudo" rows="3" class="form-control" placeholder="Escreva seu comentário aqui..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Comentar</button>
            </form>
        </div>
    {% else %}
        <p class="text-muted mt-5">Faça <a href="{% url 'login' %}">login</a> para comentar.</p>
    {% endif %}
</div>
{% endblock %}
